@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom global styles */
h1 {
    @apply text-h1 font-h1;
}
  
p {
    @apply font-p;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
  
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
  
  /* Smooth scrolling */
html, body {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  overflow: hidden;
}



* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


*::selection {
  background: none;
}
